<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Absence Manager</title>
        <link rel="icon" type="image/x-icon" href="../static/icons/absence.png">
        <link rel="stylesheet" href="/src/main/resources/static/styles/MainMenuStyle.css">
        <link rel="stylesheet" href="/styles/MainMenuStyle.css">
    </head>
    <body>
        <div class="navbar">
            <a href="#home">Home</a>
            <a href="#news">News</a>
            <a href="/login" th:if="${username == null}" style="float: right">Log In</a>
            <div th:if="${username != null}" style="float: right" class="dropdown">
                <button class="dropbtn" th:text="${username}">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a th:href="@{/teams(username=${username},password=${password})}">Teams</a>
                    <a href="#">Users</a>
                    <a href="#">Projects</a>
                    <a href="/">Log Out</a>
                </div>
            </div>
        </div>
        <div th:if="${IsNotCorrect == true}">
            </br>
            <p3 style="text-align: center; color: red">Not allowed to access this page.</p3>
        </div>
    </body>
</html>